language: elixir
cache:
  directories:
    - deps
    - _build
services:
  - postgresql
addons:
  postgresql: "9.5"
  apt:
    packages:
      - postgresql-9.5-postgis-2.3

elixir:
  - 1.4.2
otp_release:
  - 19.3
env:
  global:
    - MIX_ENV=test
    - MAIN_BRANCHES="master develop staging" # Branches on which you want version to be incremented
before_install:
  # Expose MQ and DB to Docker container
  - sudo ./bin/ci/init-db.sh
script:
  # Run all tests except pending ones
  - mix test --exclude pending --trace
  # Submit code coverage report to Coveralls
  - mix coveralls.travis --exclude pending
  # Run static code analysis
  - mix credo --strict
